/* Error notification */
.error {
  width: 90%;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--color-error);
  color: var(--color-error-text);
  border-radius: 6px;
}

.error h2,
.error p {
  margin: 0;
}
