/* Form and inputs */
.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  margin-bottom: 0.5rem;
  font-weight: 100;
  color: #000;
}

.control input {
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font: inherit;
}

.control-row {
  display: flex;
  gap: 1rem;
}

/* Buttons */
.button {
  font: inherit;
  font-weight: 100;
  cursor: pointer;
  background-color: #ffc404;
  border: 1px solid #ffc404;
  color: #1f1a09;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover {
  background-color: #ffab04;
  border-color: #ffab04;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffc404;
}

.text-button:hover {
  color: #ffab04;
}
