/* Modal and actions */
.modal {
  background-color: #e4ddd4;
  border-radius: 6px;
  padding: 1rem;
  border: none;
  width: 80%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
