@import "./styles/globals.css";
@import "./styles/base.css";
@import "./styles/utilities.css";
@import "./styles/header.css";
@import "./styles/meals.css";
@import "./styles/cart.css";
@import "./styles/forms.css";
@import "./styles/modal.css";
@import "./styles/errors.css";

